.product-grid {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
  gap: 25px;
}

.product-card {
  border: 1px solid #ddd;
  padding: 15px;
  text-align: center;
  border-radius: 10px;
  background: white;
}

.product-card img {
  max-width: 100%;
  border-radius: 8px;
}

.price {
  font-weight: bold;
  color: #444;
}

.product-show {
  display: flex;
  gap: 40px;
}

.product-images {
  flex: 1;
}

.product-info {
  flex: 1;
}

.show-image {
  max-width: 100%;
  margin-bottom: 20px;
  border-radius: 10px;
}
